@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
@font-face {
  font-family: Muli;
  src: url(font/Muli.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;800&display=swap");
:root {
  --primary-color: #5ebd16;
}

* {
  margin: 0;
  padding: 0;
}
.main-container {
  width: 75%;
  margin: 0 auto;
}
.navbar-brand {
  display: inline-block;
  color: var(--primary-color) !important;
}
.navbar-toggler {
  outline: none !important;
}
.navbar-toggler-icon {
  width: 20px !important;
  height: 21px !important;
  color: rgb(56, 56, 56);
}
#login {
  border: none;
  background-color: transparent;
  width: 4.5em;
  height: 2.8em;
  font-size: 0.8rem;
  font-family: "Muli";
  font-weight: 600;
}
#signup {
  width: 5.3em;
  height: 2.8em;
  font-size: 0.8rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  font-weight: 600;
  font-family: "Muli";
}
#login:hover {
  background-color: rgb(235, 235, 235);
}
#signup:hover {
  border: 2px solid rgb(13, 134, 19);
  background-color: rgb(7, 124, 7);
}
.searchbar_head {
  min-height: 350px;
  text-align: center;
  margin-top: 7%;
  padding: 10px;
}
.searchbar_head .hungry {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Muli";
}

.hungrydown {
  color: rgb(156, 149, 149);
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Lato", sans-serif;
}
.img_box {
  height: 1em;
  width: 4.5em;
  margin-right: 30%;
  border-radius: 5px;
}
.form_main {
  display: flex !important;
  flex-direction: row;
  width: 80%;
  height: 3em;
  margin: 30px auto;
}
.location {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.location .logo-section {
  flex: 1;
}
.location .select_dropdown {
  flex: 4;
}
.placename {
  font-size: 1rem;
  display: inline-block;
  margin: 0;
  padding-right: 8px;
}
.dropdown_icon {
  font-size: 1.2rem;
  flex: 1;
  color: rgb(75, 72, 72);
}

.form_main .logo-section {
  width: 5%;
  display: grid;
  place-items: center;
  background-color: var(--primary-color);
  color: #fff;
}
.form_main .select_dropdown {
  width: 25%;
  display: grid;
  place-items: center;
  background-color: #f0f0f0;
}

.form_main .search {
  width: 70%;
}
.searchbar {
  height: 100%;
  position: relative;
}
.form_main .search input {
  width: 100%;
  height: 3em;
  border: 1px solid #dbdbdb;
  border-left: none;
  padding-left: 20px;
}
.form_main .search .search-icon {
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px 15px 5px 15px;
  font-size: 1.2rem;
}

.select_dropdown {
  text-align: center;
  border: 2px solid #f0f0f0;
}

.select_container {
  display: inline-block;
}

.logo-section .icon {
  color: rgb(0, 0, 0);

  padding: 5px;
}
/* secondpart */
.second_part {
  /* border: 2px solid red; */
  padding: 10px;
  min-height: 550px;
  background-color: rgb(245, 245, 245);
}
.answerto {
  padding-top: 90px;
}
.answerto .answerto_1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  font-family: "Muli";
}
.answerto_2 {
  text-align: center;
  color: #787878;
  font-family: "Lato", sans-serif;
}
.three_row {
  display: flex;
  flex-direction: row;
}
.row1,
.row2,
.row3 {
  flex: 1;
  text-align: center;
}

.row11 {
  color: var(--primary-color);
  font-size: 6rem;
}
.row12 {
  text-align: center;
  font-size: 1rem;
  font-family: "Muli";
  color: black;
  font-weight: bold;
}
.row13 {
  padding: 15px;
  font-size: 0.9rem;
  color: #787878;
  font-family: "Lato", sans-serif;
}

/* thirdpart */
.third_part {
  padding: 10px;
  min-height: 300px;
}
.google_play {
  display: flex;
  flex-direction: row;
  /* height: 400px; */
}
.image_part,
.google_part {
  flex: 1;
}
.image_part img {
  width: 23em;
  height: 32em;
}

.image_container {
  padding: 10px;
}
.google_part {
  display: grid;
  place-items: center;
}

.get_title {
  display: block;
  font-size: 2rem;
  font-family: "Muli";
  font-weight: bold;
}
.get_text {
  /* border: 2px solid red; */
  font-size: 1.1rem;
  display: block;
  padding-top: 20px;
  color: rgb(82, 82, 82);
}
.google_searchbar {
  display: flex;
  flex-direction: row;
  /* border: 2px solid red; */
}
.google_searchbar1 {
  flex: 3;
}
.google_searchbar2 {
  flex: 1;
}
#google_inputtype {
  width: 100%;
  height: 2.5em;
  margin-top: 1em;
  padding-left: 5px;
  border: none;
  outline: none;
  background-color: rgba(214, 214, 214, 0.3);
}
#google_button {
  height: 2.5em;
  width: 9em;
  margin-top: 1em;
  margin-left: 12px;
  border: none;
  color: #fff;
  background: var(--primary-color);
}
.google_logo {
  display: flex;
  flex-direction: row;
}

.storelogo-section,
.empty-section {
  margin-top: 15px;
  flex: 1;
}

.storelogo-section {
  display: flex;
  flex-direction: row;
}
.apple_store {
  flex: 1;
}
#apple-logo,
#google-logo {
  width: 9em;
}
.google_store {
  flex: 1;
}

/*          footer       */

footer {
  padding: 10px;
  height: 30em;
  padding-top: 1em;
}
.footer_logo {
  display: inline-block;
}
.footer_column {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr)); /*width*/
  grid-auto-rows: minmax(140px, auto); /*height*/
}

.footer_col1 ul li {
  list-style: none;
  line-height: 2em;
}
#footer_heading {
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(88, 88, 88);
}
.footer_logoline {
  color: rgb(160, 159, 159);
  font-size: 0.8rem;
}
.footer_column ul li {
  list-style: none;
  line-height: 2.1em;
}
.footer_col5 ul {
  padding-top: 5px;
}
#apple-footer-logo,
#google-footer-logo {
  width: 9em;
}

.social-logo {
  display: inline-block;
  font-size: 1.4rem;
  padding-left: 12px;
}

a {
  color: rgb(90, 88, 88) !important;
  text-decoration: none;
}
a:hover {
  text-decoration: none !important;
}
.logofooter {
  color: var(--primary-color);
  font-size: 2rem;
}

/*Media qureis */
/* Small devices (landscape phones, 576px and up) */
@media all and (min-width: 300px) and (max-width: 511px) {
  .main-container {
    width: 100%;
  }
  .form_main {
    flex-direction: column;
  }
  .form_main .search {
    width: 100%;
    border-left: 1px solid #dbdbdb;
  }
  .form_main .select_dropdown {
    height: 2.5em;
  }
  .three_row {
    flex-direction: column;
  }
  .footer_logo {
    padding-left: 20px;
  }
  #login {
    width: 100%;
    outline: none;
  }
  #signup {
    width: 100%;
  }

  .google_play {
    display: flex;
    flex-direction: column;
  }
  .image_part,
  .google_part {
    flex: 1;
    padding-top: 10%;
  }
  .image_part img {
    width: 15em;
    height: 20em;
  }
  .part_container {
    margin-top: 0em;
  }
  .get_title {
    text-align: center;
    display: block;
    font-size: 1.5rem;
    font-family: "Muli";
    font-weight: bold;
  }
  .get_text {
    font-size: 1rem;
    text-align: center;
    display: block;
    padding-top: 10px;
    color: rgb(82, 82, 82);
  }
  #google_inputtype {
    padding-left: 15px;
    width: 100%;
  }
  .google_searchbar {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    /* border: 2px solid red; */
  }
  #google_button {
    height: 2.2em;
    width: 8em;
    /* font-size: 20px; */
  }
  .storelogo-section {
    display: flex;
    flex-direction: row;
  }
  #apple-logo,
  #google-logo {
    width: 7em;
  }

  .download {
    font-family: "Lato", sans-serif;
    font-weight: bolder;
    display: block;
    text-align: center;
    font-size: 1.3rem;
  }
  footer {
    height: 30em;
    padding-top: 2em;
  }

  .logofooter {
    color: var(--primary-color);
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  .footer_column {
    width: 80%;
    margin: 0 auto;
  }

  #footer_heading {
    font-size: 1rem;
  }
  #apple-footer-logo,
  #google-footer-logo {
    width: 7em;
  }
  .social-logo {
    display: inline-block;
    font-size: 1.3rem;
    padding-left: 12px;
  }
  .answerto {
    padding-top: 20px;
  }
  .answerto .answerto_1 {
    font-size: 1.5rem;
  }
  .answerto_2 {
    font-size: 0.8rem;
  }
  .searchbar_head .hungry {
    font-size: 2rem;
    margin-bottom: 5px;
  }
  .hungrydown {
    font-size: 1.2rem;
  }
  .searchbar_head {
    min-height: 300px;
  }

  /* end */
}

/* Medium devices (tablets, 768px and up) */
@media all and (min-width: 512px) and (max-width: 991px) {
  .main-container {
    width: 90%;
  }
  .placename {
    font-size: 0.8rem;
    padding-right: 2px;
  }

  .dropdown_icon {
    font-size: 1rem;
  }
  .three_row {
    flex-direction: column;
  }
  .form_main {
    width: 100%;
  }

  /*Third part */
  .image_part img {
    width: 18em;
    height: 25em;
  }
  .google_searchbar {
    flex-direction: column;
  }
  #google_button {
    margin-left: 0;
  }
  .get_title {
    font-size: 1.6rem;
  }
  .get_text {
    font-size: 0.9rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .three_row {
    flex-direction: row;
  }
}

/* Others */

@media all and (max-width: 732px) {
  .google_play {
    flex-direction: column;
  }
  .part_container {
    width: 90%;
    text-align: center;
  }
  .google_logo {
    display: grid;
    place-items: center;
  }
}
