@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
@font-face {
  font-family: Muli;
  src: url(font/Muli.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;800&display=swap");
:root {
  --primary-color: #5ebd16;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}
.main-container {
  width: 75%;
  margin: 0 auto;
}
.navbar-brand {
  display: inline-block;
  color: var(--primary-color) !important;
}
.navbar-toggler {
  outline: none !important;
}
.navbar-toggler-icon {
  width: 20px !important;
  height: 21px !important;
  color: rgb(56, 56, 56);
}
#login {
  border: none;
  background-color: transparent;
  width: 4.5em;
  height: 2.8em;
  font-size: 0.8rem;
  font-family: "Muli";
  font-weight: 600;
  outline: none;
}
#signup {
  width: 5.3em;
  height: 2.8em;
  font-size: 0.8rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  font-weight: 600;
  font-family: "Muli";
  outline: none;
}
#afterlogin-icons {
  margin-top: 10px;
}
#nav-ul li {
  padding-left: 25px;
}
#help-nav {
  font-size: 0.9rem;
  font-weight: 500;
  padding-top: 3px;
  font-family: "Muli";
}
#shop-nav,
#bell-nav {
  padding-top: 8px;
}
#bell-nav {
  font-size: 1.1rem;
}
#account-nav a {
  font-size: 1.3rem;
  color: #e27676 !important;
}
#account-nav {
  padding-top: 5px;
}
#login:hover {
  background-color: transparent;
  border: none;
}
#signup:hover {
  border: 2px solid rgb(13, 134, 19);
  background-color: rgb(7, 124, 7);
}
#cool-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: rgb(37, 124, 59);
  transition: width 0.3s;
}
div.resturant {
  /* height: 33em; */
  top: 0;
  position: sticky;
  top: 0px;
  z-index: 999;
  background-color: white;
  padding: 20px;
}
#cool-link:hover::after {
  width: 100%;
  transition: width 0.3s;
}
.searchbar_head {
  min-height: 350px;
  text-align: center;
  margin-top: 7%;
  padding: 10px;
}
.searchbar_head .hungry {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Muli";
}

.hungrydown {
  color: rgb(156, 149, 149);
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Lato", sans-serif;
}
.img_box {
  height: 1em;
  width: 4.5em;
  margin-right: 30%;
  border-radius: 5px;
}
.form_main {
  display: flex !important;
  flex-direction: row;
  width: 80%;
  height: 3em;
  margin: 30px auto;
}
.location {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.location .logo-section {
  flex: 1;
}
.location .select_dropdown {
  flex: 4;
}
.placename {
  font-size: 1rem;
  display: inline-block;
  margin: 0;
  padding-right: 8px;
}
.dropdown_icon {
  font-size: 1.2rem;
  flex: 1;
  color: rgb(75, 72, 72);
}

.form_main .logo-section {
  width: 5%;
  display: grid;
  place-items: center;
  background-color: var(--primary-color);
  color: #fff;
}
.form_main .select_dropdown {
  width: 25%;
  display: grid;
  place-items: center;
  background-color: #f0f0f0;
}

.form_main .search {
  width: 70%;
}
.searchbar {
  height: 100%;
  position: relative;
}
.form_main .search input {
  width: 100%;
  height: 3em;
  border: 1px solid #dbdbdb;
  border-left: none;
  padding-left: 20px;
}
.form_main .search .search-icon {
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px 15px 5px 15px;
  font-size: 1.2rem;
}

.select_dropdown {
  text-align: center;
  border: 2px solid #f0f0f0;
}

.select_container {
  display: inline-block;
}

.logo-section .icon {
  color: rgb(0, 0, 0);

  padding: 5px;
}
/* secondpart */
.second_part {
  /* border: 2px solid red; */
  padding: 10px;
  min-height: 550px;
  background-color: rgb(245, 245, 245);
}
.answerto {
  padding-top: 90px;
}
.answerto .answerto_1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  font-family: "Muli";
}
.answerto_2 {
  text-align: center;
  color: #787878;
  font-family: "Lato", sans-serif;
}
.three_row {
  display: flex;
  flex-direction: row;
}
.row1,
.row2,
.row3 {
  flex: 1;
  text-align: center;
}

.row11 {
  color: var(--primary-color);
  font-size: 6rem;
}
.row12 {
  text-align: center;
  font-size: 1rem;
  font-family: "Muli";
  color: black;
  font-weight: bold;
}
.row13 {
  padding: 15px;
  font-size: 0.9rem;
  color: #787878;
  font-family: "Lato", sans-serif;
}

/* thirdpart */
.third_part {
  padding: 70px;
  min-height: 400px;
  /* border: 2px solid red; */
}
.google_play {
  display: flex;
  flex-direction: row;
  /* height: 400px; */
}
.image_part,
.google_part {
  flex: 1;
}
.image_part img {
  width: 24em;
  height: 22em;
  margin-right: 15px;
  /* border: 2px solid red; */
}

.image_container {
  padding: 10px;
  /* border: 2px solid red; */
}
.google_part {
  display: grid;
  place-items: center;
}

.get_title {
  display: block;
  font-size: 2rem;
  font-family: "Muli";
  font-weight: bold;
}
.get_text {
  /* border: 2px solid red; */
  font-size: 1.1rem;
  display: block;
  padding-top: 20px;
  color: rgb(82, 82, 82);
}
.google_searchbar {
  display: flex;
  flex-direction: row;
  /* border: 2px solid red; */
}
.google_searchbar1 {
  flex: 3;
}
.google_searchbar2 {
  flex: 1;
}
#google_inputtype {
  width: 100%;
  height: 2.5em;
  margin-top: 1em;
  padding-left: 5px;
  border: none;
  outline: none;
  background-color: rgba(214, 214, 214, 0.3);
}
#google_button {
  height: 2.5em;
  width: 9em;
  margin-top: 1em;
  margin-left: 12px;
  border: none;
  color: #fff;
  background: var(--primary-color);
}
.google_logo {
  display: flex;
  flex-direction: row;
}

.storelogo-section,
.empty-section {
  margin-top: 15px;
  flex: 1;
}

.storelogo-section {
  display: flex;
  flex-direction: row;
}
.apple_store {
  flex: 1;
}
#apple-logo,
#google-logo {
  width: 9em;
}
.google_store {
  flex: 1;
}

/*          footer       */

footer {
  padding: 10px;
  height: 30em;
  padding-top: 1em;
}
.footer_logo {
  display: inline-block;
}
.footer_column {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr)); /*width*/
  grid-auto-rows: minmax(140px, auto); /*height*/
}

.footer_col1 ul li {
  list-style: none;
  line-height: 2em;
}
#footer_heading {
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(88, 88, 88);
}
.footer_logoline {
  color: rgb(160, 159, 159);
  font-size: 0.8rem;
}
.footer_column ul li {
  list-style: none;
  line-height: 2.1em;
}
.footer_col5 ul {
  padding-top: 5px;
}
#apple-footer-logo,
#google-footer-logo {
  width: 9em;
}

.social-logo {
  display: inline-block;
  font-size: 1.4rem;
  padding-left: 12px;
}

a {
  color: rgb(90, 88, 88) !important;
  text-decoration: none;
}
a:hover {
  text-decoration: none !important;
}
.logofooter {
  color: var(--primary-color);
  font-size: 2rem;
}
/*           homepage with login       */
/* carousel */
.carousel_one {
  min-height: 40em;
}
.carousel_title {
  font-size: 2rem;
  font-family: "Muli";
  font-weight: bold;
  margin-left: 12px;
  color: #3b3b3b;
}

.carousel-item {
  transition: transform 0.2s ease-in-out, -webkit-transform 13s ease-in-out;
}

.controls-top {
  float: right;
  /* border: 2px solid red; */
  padding: 5px;
  margin-right: 15px;
  margin-bottom: 10px;
}
.controls-top a {
  font-size: 1.6rem;
  color: #787878;
  padding-left: 5px;
  font-weight: bold;
}
.controls-top-one {
  float: right;
  /* border: 2px solid red; */
  padding: 5px;
  margin-right: 15px;
  margin-bottom: 10px;
}
.controls-top-cui {
  float: right;
  /* border: 2px solid red; */
  padding: 5px;
  margin-right: 25px;
  margin-bottom: 15px;
  /* border: 2px solid red; */
}
.controls-top-cui a {
  font-size: 1.6rem;
  color: #787878;
  /* border: 2px solid red; */
  padding-left: 5px;
}
.controls-top-one a {
  font-size: 1.6rem;
  color: #787878;
  padding-left: 5px;
}
#card-image img {
  height: 15em;
}
#card3-image img {
  height: 15em;
}
#card3-image {
  border: none;
}

#card-body {
  font-family: "Muli";
}
.food-titlecard {
  font-family: "Muli";
  font-size: 1.7rem;
  font-weight: bold;
  color: #3b3b3b;
}
.food-titlecard-down {
  font-family: "Muli";
  font-weight: lighter;
  font-size: 1rem;
  display: block;
}
.food-titlerest {
  font-family: "Muli";
  font-size: 2rem;
  font-weight: bold;
  color: #3b3b3b;
}
.food-time #ul-top li {
  display: inline-block;
  /* border: 2px solid red; */
  font-size: 1rem;
  padding: 5px;
}
.food-time #ul-top2 li {
  display: inline-block;
  /* border: 2px solid red; */
  font-size: 1rem;
  padding: 5px;
  font-weight: 600;
}

.food-time {
  display: inline-block;
  height: 2.4rem;
}

.rating {
  /* border: 2px solid red; */
  display: block;
}

.food-timedown {
  display: inline-block;
}
.food-timedown #ul-down li {
  display: inline-block;
  /* border: 2px solid red; */
  font-size: 0.9rem;
}
.food-timedownrest #ul-down li {
  margin-bottom: 0;
  display: inline-block;
  padding-top: 10px;
}
#carousel-button {
  height: 2em;
  width: 4em;
  background-color: var(--primary-color);
  color: #fff;
  border: 1px solid green;
}
#carousel-button:hover {
  background-color: rgb(35, 121, 35);
  color: rgb(255, 242, 208);
}
/* carousel first ends */
.all-appstore-with {
  background-color: #f5f5f5;
  height: 20em;
}
.appstore-with {
  /* border: 2px solid red; */
  height: 20em;
  display: flex;
  flex-direction: row;
  width: 75%;
  margin: 0 auto;
}
.with-toptitle {
  flex: 1;
  /* border: 2px solid red; */
  margin-top: 5%;
}
.with-toptitle {
  flex: 1;
  /* border: 2px solid red; */
}
.with-toptitle .w1 {
  font-size: 2.5rem;
  /* border: 2px solid red; */
  font-weight: bolder;
  font-family: "Lato", sans-serif;
  height: 2em;
  padding-top: 10px;
  margin-left: 7px;
}
.with-toptitle .w2 {
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
  margin-left: 7px;
}
.with-topimage img {
  flex: 1;
  width: 22em;
  /* border: 2px solid red;  */
  margin-top: -7%;
  margin-right: 5em;
}
.storelogo-section1 {
  display: flex;
  flex-direction: row;
  width: 300px;
  margin-right: 10px;
}
.storelogo-section1 .apple_store {
  flex: 1;
}
#apple-logo,
#google-logo {
  width: 9em;
}
.google_store {
  flex: 1;
}
/* second carousel */
.second-carouselwith {
  height: 38em;
  /* border: 2px solid red; */
}
.carousel_two {
  height: 35em;
  margin-top: 10%;
  /* border: 2px solid red; */
}
/* third carousel */
.third-carouselwith {
  height: 34em;
  /* border: 2px solid red; */
}
.carousel_three {
  min-height: 30em;
  /* border: 2px solid red; */
  margin-top: 70px;
}
.card-img-top {
  position: relative;
}
#heart {
  position: absolute;
  top: 2%;
  left: 90%;
  font-size: 1.2rem;

  color: rgb(255, 255, 255);
}
#heart:hover {
  color: rgb(204, 175, 196);
}
.card-img-top1 {
  border-radius: 50%;
}
/* card-search page */
.card-searchpage1 {
  height: 37em;
}
.card-searchpage2 {
  height: 30em;
}
.card-searchpage3 {
  height: 45em;
  padding-top: 10%;
}
.card-searchpage4 {
  height: 30em;
}
.card-viewmore {
  text-align: center;
  font-size: 1rem;
  height: 8em;
}
.card-viewmore1 {
  text-align: center;
  font-size: 1rem;
  height: 8em;
}

.search-results {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  margin-left: 13px;
  padding-bottom: 1.3em;
  color: #3b3b3b;
}
.searchbar_headone {
  height: 6em;
}

/* pagination */
#new-pagin {
  font-weight: bolder;
}
.pagination-main {
  height: 5em;
}
.breadcrumb {
  background-color: transparent !important;
}
ul.breadcrumb {
  padding: 8px 16px;
  list-style: none;
  /* background-color: #eee; */

  width: 100vw;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
  font-family: "muli";
}

ul.breadcrumb li a {
  color: green;
}

/* resturant page */
.rest-main {
  flex: 4;
  display: flex;
  flex-direction: row;
}
.rest-img {
  flex: 1;
}
#restimg {
  width: 32em;
}
.rest-detail {
  flex: 1;
  padding-left: 46px;
  padding-top: 20px;
}
.rest-number {
  width: 35em;
  height: 4em;
  display: flex;
}
.rest-rating {
  display: inline-block;
  flex: 1;
  border-right: 2px solid rgb(207, 207, 207);
}
.rest-ratingmid {
  font-size: 1.1rem;
}
.rest-rating1 {
  font-size: 1.1rem;
  font-family: "Muli";
  font-weight: bolder;
  color: black;
}
.rest-rating2 {
  display: block;
  font-family: "Muli";
  font-size: 0.8rem;
  color: #787878;
  padding-top: 6px;
}
.rest-address {
  font-size: 1.2rem;
  font-weight: 500;
  display: block !important;
  padding-top: 10px;
}
.rest-address a {
  font-size: 0.8rem;
}
.rest-timing {
  display: inline-block;
  flex: 1;
  margin-left: 15px;
  border-right: 2px solid rgb(202, 202, 202);
}
.rest-timing1 {
  /* border: 2px solid red; */
  width: 120px;
  height: 5em;
  font-size: 1.1rem;
  font-weight: bolder;
  font-family: "Muli";
}
.rest-amountoftime {
  flex: 2;
  margin-left: 15px;
  display: inline-block;
}
#rest-button {
  width: 8.3em;
  height: 2.7em;
  font-family: "Muli";
  background-color: rgb(52, 180, 84);
  border: none;
  color: #fff;
}
.checked {
  color: orange;
}
.rest-stars {
  color: rgb(24, 24, 24);
  margin-left: 10px;
  font-size: 1.1rem;
}
.rest-fav {
  padding-top: 15px;
}
/* rest-serachbar */
.rest-searchbar {
  display: inline-block;
  position: relative;
  margin-top: 5%;
  width: 40em;
}

/* .rest-search {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
  /* border: 1px solid black; */
/* } */
.rest-searchbox {
  width: 28em;
  height: 2.9em;
  padding-left: 20px;

  /* border: 1px solid black; */
}
#se-icon {
  font-size: 1.1rem;
  position: absolute;
  left: 80%;
  top: 29%;
}
.rest-search {
  text-align: center;
  flex: 1;
}

/* rest-main */
.rest-mainbody {
  height: 82em;
}
.rest-main1 {
  display: flex;
  height: 100%;
  grid-gap: 5px;
}
.progressbar,
.breakfast,
.cart {
  /* border: 2px solid red; */
  height: 100%;
}
.progressbar {
  flex: 1;
  padding-right: 15px;
}
.breakfast {
  flex: 4;
  padding-top: 31px;
}

#rest-ul {
  list-style: none;
  text-align: right;
  border-right: 5px solid rgb(204, 204, 204);
  padding-bottom: 20px;
  margin-top: 40px;
  position: sticky;
  top: 38%;
  display: inline-block;
  margin-left: 44px;
}
#rest-ul li {
  margin-bottom: 15px;
  padding-right: 15px;
  margin-right: -5px;
  padding-bottom: 1px;
  font-family: "Muli";
}
#rest-ul li.active {
  font-weight: bolder;
  border-right: 6px solid var(--primary-color);
}
.breakfast {
  padding-left: 15px;
  padding-right: 15px;
}
.breakfast .rest-heading {
  display: block;
  font-size: 2.5rem;
  font-weight: 600;
}
.rest-foods {
  display: flex;
  flex-direction: column;
  height: 90%;
  padding-top: 20px;
}
.rest-foods .rest-food {
  flex: 1;
  height: 14em;
}
.restmiddle-title {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Muli";
}
.rest-p1 {
  width: 23em;
  font-size: 0.85rem;
  margin-top: 10px;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  color: #787878;
}
.rest-food {
  display: flex;
}
.rest-sidepart {
  flex: 2;
}
.rest-sideimg {
  flex: 1;
  position: relative;
}
.rest-pdown #rest-midul li {
  display: inline-block;
  font-size: 1rem;
}
.rest-pdown {
  border-bottom: 2px solid rgb(189, 189, 189);
  display: block;
  font-weight: bold;
}
#img-top {
  width: 5em;
  height: 2em;
  background-color: rgb(70, 189, 70);
  color: #fff;
  position: absolute;
  top: 78%;
  right: 35%;
  border: none;
}
.cartwhole {
  height: 20em;
}
.cart {
  flex: 2;
  height: 100%;
}
.cart-container {
  display: flex;
  flex-direction: column;
  height: 32%;
  border-right: 1px solid rgb(228, 228, 228);
  position: sticky;
  top: 40%;
}
.cart-1 {
  flex: 11;
}
.cart-footer {
  flex: 1;
  background-color: rgb(49, 49, 49);
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}
.cart-footer1 {
  color: #fff;
  font-size: 0.85rem;
  font-family: "Lato", sans-serif;
}
.cart-footer2 {
  float: right;
  color: #fff;
  font-size: 0.85rem;
  font-family: "Lato", sans-serif;
}
.cart-title {
  display: block;
  font-size: 2.2rem;
  font-family: "Muli";
  font-weight: 600;
  padding-left: 40px;
}
.cart-down {
  display: block;
}
.cart-text1 {
  font-size: 0.7rem;
}
.cart-text2 {
  font-size: 0.7rem;
  color: rgb(27, 196, 27);
}
.cart-details {
  width: 80%;
  float: right;
}
.c1 {
  display: block;
  font-weight: 600;
}
.c2 {
  font-size: 0.7rem;
  font-weight: 600;
}
.price {
  font-weight: 600;
  float: right;
}
.cart-detail1,
.cart-detail2 {
  border-bottom: 2px solid rgb(231, 231, 231);
  padding-top: 10px;
}
#cart-btn {
  display: block;
  width: 40px;
  border: none;
  height: 35px;
  margin-top: 18px;
}
/*Media qureis */
/* Small devices (landscape phones, 576px and up) */
@media all and (min-width: 300px) and (max-width: 511px) {
  .main-container {
    width: 100%;
  }
  .form_main {
    flex-direction: column;
  }
  .form_main .search {
    width: 100%;
    border-left: 1px solid #dbdbdb;
  }
  .form_main .select_dropdown {
    height: 2.5em;
  }
  .three_row {
    flex-direction: column;
  }
  .footer_logo {
    padding-left: 20px;
  }
  #login {
    width: 100%;
    outline: none;
  }
  #signup {
    width: 100%;
  }

  .google_play {
    display: flex;
    flex-direction: column;
  }
  div.resturant {
    margin-left: 0px !important;
  }
  .image_part,
  .google_part {
    flex: 1;
  }
  .third_part {
    padding: 10px;
    padding-bottom: 20px;
  }
  .image_part img {
    width: 13em;
    height: 12em;
  }
  .part_container {
    margin-top: 0em;
  }
  .get_title {
    text-align: center;
    display: block;
    font-size: 1.5rem;
    font-family: "Muli";
    font-weight: bold;
    padding-top: 21px;
  }
  .get_text {
    font-size: 1rem;
    text-align: center;
    display: block;
    padding-top: 10px;
    color: rgb(82, 82, 82);
  }
  #google_inputtype {
    padding-left: 15px;
    width: 100%;
  }
  .google_searchbar {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    /* border: 2px solid red; */
  }
  #google_button {
    height: 2.2em;
    width: 8em;
    /* font-size: 20px; */
  }
  .storelogo-section {
    display: flex;
    flex-direction: row;
  }
  #apple-logo,
  #google-logo {
    width: 7em;
  }

  .download {
    font-family: "Lato", sans-serif;
    font-weight: bolder;
    display: block;
    text-align: center;
    font-size: 1.3rem;
  }
  footer {
    height: 30em;
    padding-top: 2em;
  }

  .logofooter {
    color: var(--primary-color);
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  .footer_column {
    width: 80%;
    margin: 0 auto;
  }

  #footer_heading {
    font-size: 1rem;
  }
  #apple-footer-logo,
  #google-footer-logo {
    width: 7em;
  }
  .social-logo {
    display: inline-block;
    font-size: 1.3rem;
    padding-left: 12px;
  }
  .answerto {
    padding-top: 20px;
  }
  .answerto .answerto_1 {
    font-size: 1.5rem;
  }
  .answerto_2 {
    font-size: 0.8rem;
  }
  .searchbar_head .hungry {
    font-size: 2rem;
    margin-bottom: 5px;
  }
  .hungrydown {
    font-size: 1.2rem;
  }
  .searchbar_head {
    min-height: 300px;
  }

  /* with */
  .appstore-with {
    width: 95%;
    height: 28em;
    flex-direction: column-reverse;
    padding: 40px;
  }
  .with-toptitle .w1 {
    font-size: 1.5rem;
  }
  .with-toptitle .w2 {
    font-size: 1.05rem;
  }
  .with-topimage img {
    width: 13em;
    height: 12em;
    margin-top: -1%;
    margin-left: 8%;
  }
  .carousel_three {
    margin-top: 0;
  }

  .carousel_two {
    min-height: 35em;
  }

  .third-carouselwith {
    height: 103em;
  }
  .second-carouselwith {
    height: 90em;
  }
  .all-appstore-with {
    height: 28em;
  }

  .food-titlecard {
    font-size: 1.4rem;
  }
  .food-titlecard-down {
    font-size: 0.9rem;
  }
  #ul-top {
    font-size: 0.8rem;
  }
  #ul-down {
    font-size: 1rem;
  }
  #card3-image img {
    height: 17em;
    width: 17em;
    margin-top: 22px;
    margin-left: 47px;
  }
  /* border: 2px solid red; */
  .card-searchpage2 {
    min-height: 141em;
    background-color: #ffffff;
  }
  .card-viewmore {
    height: 2.5em;
  }
  .card-searchpage4 {
    min-height: 121em;
  }
  .search-results {
    font-size: 1.7rem;
    margin-left: 16px;
  }
  .rest-main {
    display: flex;
    flex-direction: column;
  }
  #restimg {
    width: 24em;
    padding-left: 26px;
  }
  .food-titlerest {
    font-size: 1.8em;
  }
  .rest-detail {
    padding: 25px;
  }
  .rest-address {
    font-size: 1.2rem;
  }
  .rest-address a {
    font-size: 0.6rem;
  }
  .food-timedownrest {
    font-size: 0.77rem;
  }
  .rest-number {
    width: 19em;
    height: 11em;
    flex-direction: column;
  }
  .rest-rating1 {
    font-size: 1rem;
  }
  .rest-rating2 {
    font-size: 0.8rem;
  }
  .rest-ratingmid {
    font-size: 0.9rem;
  }
  .rest-timing1 {
    font-size: 0.9rem;
  }
  .rest-rating {
    border-bottom: 1px solid rgb(241, 241, 241);
    border-right: 0;
  }
  .rest-timing {
    border-bottom: 1px solid rgb(241, 241, 241);
    margin-left: 0;
    border-right: 0;
  }
  .rest-amountoftime {
    margin-left: 0px;
  }
  .rest-fav {
    padding-top: 0px;
  }
  #rest-button {
    width: 93px;
    height: 36px;
    font-size: 15px;
  }
  .rest-stars {
    margin-left: 10px;
    font-size: 0.8rem;
  }
  .rest-searchbar {
    width: 19em;
    margin-right: 10px;
  }
  .rest-searchbox {
    width: 18.5em;
    height: 2.7em;
  }

  input {
    padding-left: 15px;
  }
  .rest-search {
    height: 6em;
  }
  #se-icon {
    font-size: 1rem;
    left: 85%;
  }
  .rest-mainbody {
    height: unset;
    min-height: 170em;
  }
  .rest-main1 {
    flex-direction: column;
  }
  #rest-ul {
    text-align: center;
    border: none;
    font-size: 1.1rem;
    /* border-right: 5px solid rgb(204, 204, 204); */
  }
  #rest-ul li {
    display: inline;
    padding: 7px;
  }
  #rest-ul li.active {
    font-weight: bolder;
    border-right: none;
    color: green;
  }
  .breakfast .rest-heading {
    text-align: center;
    font-size: 1.9rem;
    font-family: "Muli";
  }
  .breakfast .rest-breakdown {
    text-align: center;
    display: block;
  }
  .restmiddle-title {
    font-size: 1.4rem;
  }
  .rest-p1 {
    width: 23em;
    font-size: 1rem;
  }
  .rest-food {
    flex-direction: column;
    padding-top: 31px;
  }
  #rest-midul {
    font-size: 0.7rem;
  }
  .rest-pdown {
    display: inline-block;
    border: none;
  }
  .rest-sideimg img {
    width: 100%;
  }
  .cart-title {
    font-size: 1.9rem;
    text-align: center;
    padding-left: 0;
  }

  .cart {
    min-height: 460px;
    padding: 20px;
  }
}
/* Medium devices (tablets, 768px and up) */
@media all and (min-width: 512px) and (max-width: 991px) {
  .main-container {
    width: 90%;
  }
  .placename {
    font-size: 0.8rem;
    padding-right: 2px;
  }

  .dropdown_icon {
    font-size: 1rem;
  }
  .three_row {
    flex-direction: column;
  }
  .form_main {
    width: 100%;
  }

  .rest-mainbody {
    height: unset;
    min-height: 90em;
  }

  /*Third part */
  .image_part img {
    width: 16em;
    height: 15em;
  }
  .google_searchbar {
    flex-direction: column;
  }
  #google_button {
    margin-left: 0;
  }
  .get_title {
    font-size: 1.6rem;
  }
  .get_text {
    font-size: 0.9rem;
  }
  .with-toptitle .w1 {
    font-size: 2rem;
    width: 10em;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .three_row {
    flex-direction: row;
  }
}

/* Others */
@media (max-width: 1390px) {
  .google_searchbar {
    flex-direction: column;
  }
  #google_button {
    margin-left: 0;
  }
}

@media all and (max-width: 732px) {
  .google_play {
    flex-direction: column;
  }
  .part_container {
    width: 90%;
    text-align: center;
  }
  .google_logo {
    display: grid;
    place-items: center;
  }
}
